html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px; }

.container {
  position: relative; }

body {
  background-color: #000;
  color: #fff;
  font-family: 'Quattrocento', serif;
  background: #111313;
  color: #b8c3c6; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Quattrocento', serif; }

a,
a:hover,
a:visited,
a:active {
  color: #ffffff; }

#intro {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  #intro.manplay .tuner {
    z-index: 1000; }
  #intro .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    #intro .panel .silhouette {
      position: relative;
      display: inline-block;
      width: 250px;
      height: 250px;
      background: transparent; }
      #intro .panel .silhouette.active .glow-a {
        box-shadow: 0px 0px 300px 0px red; }
      #intro .panel .silhouette.active .glow-b {
        box-shadow: 0px 0px 100px 0px white; }
      #intro .panel .silhouette .glow-a, #intro .panel .silhouette .glow-b {
        position: absolute;
        width: 150px;
        height: 185px;
        top: 35px;
        left: 50px;
        transition: all 250ms;
        transform: scale(0.9);
        border-radius: 100px; }
      #intro .panel .silhouette .glow-a {
        box-shadow: 0px 0px 150px 0px red; }
      #intro .panel .silhouette .glow-b {
        box-shadow: 0px 0px 30px 0px white; }
      #intro .panel .silhouette svg {
        position: absolute;
        width: 200px;
        height: 200px;
        margin: 25px;
        top: 0;
        left: 0; }
      #intro .panel .silhouette .tuner {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; }
        #intro .panel .silhouette .tuner.active {
          display: block; }

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  background: #111313;
  transition: opacity 250ms linear; }
  #loader.active {
    opacity: 1; }
  #loader .panel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%); }
    #loader .panel h1 {
      margin: 24px; }
      @media screen and (max-width: 800px) {
        #loader .panel h1 {
          font-size: 40px;
          line-height: 1.25em;
          margin: 1em 0 0 0; } }
    #loader .panel .progress {
      display: none; }
    #loader .panel .syringe {
      position: relative;
      width: 540px;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0); }
      @media screen and (max-width: 800px) {
        #loader .panel .syringe {
          transform: translate(-50%, 0) scale(0.75); } }
      @media screen and (max-width: 500px) {
        #loader .panel .syringe {
          transform: translate(-50%, 0) scale(0.5); } }
      #loader .panel .syringe .progress-bar-container {
        position: absolute;
        top: 50px;
        left: 205px;
        width: 173px;
        height: 30px;
        background: #000000; }
        #loader .panel .syringe .progress-bar-container .progress-bar {
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          border-radius: 10px;
          background: #00ff00;
          box-shadow: 0 0 60px 5px #00ff00; }
      #loader .panel .syringe svg {
        position: relative;
        z-index: 1; }

.btn-action.mdl-button {
  display: block;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  margin: 0;
  background: rgba(0, 0, 0, 0.9);
  border: solid 1px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  color: #fff;
  z-index: 4001;
  text-align: center; }
  .btn-action.mdl-button svg {
    font-size: 25px;
    margin-top: 25px; }

.sidebar {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  color: #b8c3c6;
  background: rgba(0, 0, 0, 0.95);
  background: #2c2f30;
  border-left: solid 1px rgba(255, 255, 255, 0.25);
  z-index: 4000;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1); }
  .sidebar.active {
    transform: translateX(0);
    overflow: auto; }
  .sidebar .section {
    float: left;
    clear: both;
    width: calc( 100% - 20px);
    margin: 0 10px;
    padding: 10px;
    clear: both;
    border-top: solid 1px #555c5e;
    border-bottom: solid 1px #22292a;
    text-align: center; }
    .sidebar .section:last-of-type {
      padding-bottom: 100px; }
    .sidebar .section.description p {
      text-align: justify; }
    .sidebar .section.description .btn-vintage {
      margin: 0 0 16px; }
    .sidebar .section.description .read-more {
      display: inline-block; }
    .sidebar .section.description .read-less {
      display: none; }
    .sidebar .section.description p:nth-of-type(n+2) {
      display: none; }
    .sidebar .section.description.more .read-more {
      display: none; }
    .sidebar .section.description.more .read-less {
      display: inline-block; }
    .sidebar .section.description.more p:nth-of-type(n+2) {
      display: block; }
    .sidebar .section.share .share img {
      height: 20px;
      margin-top: -8px; }
    .sidebar .section.player-ctrls .player-ctrl {
      cursor: pointer; }
    .sidebar .section.acts.clock .btn-vintage.clock {
      width: 200px;
      border-radius: 25px; }
    .sidebar .section.acts.clock .btn-vintage {
      margin: 10px; }
    .sidebar .section.acts.clock ul li {
      color: #666; }
      .sidebar .section.acts.clock ul li.active {
        color: #fff; }
    .sidebar .section h1 {
      font-size: 2em;
      margin: 0;
      font-weight: bold;
      font-family: serif; }
    .sidebar .section ul {
      float: left;
      list-style: none;
      margin: 0;
      clear: both; }
      .sidebar .section ul li {
        float: left;
        list-style: none; }

#the-room {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: opacity 2s linear 500ms; }
  #the-room.active {
    opacity: 1; }

.btn-vintage {
  display: block;
  text-align: center;
  margin: 10% 10px;
  height: 60px;
  width: 60px;
  line-height: 62px;
  /* match button height to center vertically */
  background: #221e25;
  color: #FDFBDA;
  border: 1px solid #eaca6e;
  border-radius: 50%;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  box-shadow: inset -2px -2px 2px -2px #ffedad, 1px 1px 1px 1px #73604c, inset 1px 1px 1px 1px #73604c, 0px 0px 1px 1px #ffedad, 2px 2px 5px 5px rgba(20, 20, 20, 0.7), inset 2px 2px 6px 3px #000000;
  color: #ff3333; }
  .btn-vintage span {
    background-color: #630000;
    color: transparent;
    text-shadow: 1px 1px 1px #ff6666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; }
  .btn-vintage:active, .btn-vintage.active {
    box-shadow: inset -2px -2px 2px -2px #ffedad, 1px 1px 1px 1px #73604c, inset 1px 1px 1px 1px #73604c, 0px 0px 1px 1px #ffedad, 0px 0px 1px 4px rgba(20, 20, 20, 0.7), inset 4px 4px 6px 3px #000000;
    transform: scale(0.98); }
    .btn-vintage:active span, .btn-vintage.active span {
      background-color: #ffffff;
      color: transparent;
      text-shadow: -1px -1px 15px #ff3333; }

/*# sourceMappingURL=app-shell.css.map */