@keyframes carleft {
    from {
        transform: translateX(900px);
    }
  
    to {
        transform: translateX(0px);
    }
}

@keyframes carright {
    from {
        transform: translateX(0px);
    }
  
    to {
        transform: translateX(900px);
    }
}

@keyframes comet {
    100% { background-position: -10200px; }
 }

@keyframes tripodwalk {
    100% { background-position: -4545px; }
}

 @keyframes tripodtranslate {
    from {
        transform: translateX(450px);
    }
  
    to {
        transform: translateX(-450px);
    }
}