@keyframes carleft {
    from {
        transform: translateX(900px);
    }
  
    to {
        transform: translateX(0px);
    }
}

@keyframes carright {
    from {
        transform: translateX(0px);
    }
  
    to {
        transform: translateX(900px);
    }
}

@keyframes comet {
    100% { background-position: -10200px; }
 }

@keyframes tripodwalk {
    100% { background-position: -4500px; }
}

 @keyframes tripodtranslate {
    from {
        transform: translateX(500px);
    }
  
    to {
        transform: translateX(-500px);
    }
}

@keyframes tripodfade {
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
    15%{
        opacity: 0;
    }
    85%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}