.btn-vintage{
	display: block;
	text-align:center;
	margin: 10% 10px;
	height: 60px;
	width: 60px;
	line-height: 60px; /* match button height to center vertically */
	background: #221e25;
	color: #FDFBDA;
	border: 3px solid #eaca6e;
	border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	box-shadow: 
		inset -3px -3px 3px -2px #ffedad, 
		1px 1px 1px 2px #73604c, 
		inset 1px 1px 4px 2px #73604c, 
		-1px -1px 0px 0px #ffedad, 
		1px 2px 6px 4px rgba(20, 20, 20, 0.7), 
		inset 2px 2px 6px 6px #000000;
	transition: all .07s linear;
	color: #ff3333;

	span{
		background-color: #630000;
		color: transparent;
		text-shadow: 1px 1px 1px #ff6666;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
	}
	&:hover{

	}	
	&:active, &.active{
		box-shadow: 
			inset -3px -3px 3px -2px #ffedad, 
			1px 1px 1px 2px #73604c, 
			inset 1px 1px 4px 2px #73604c, 
			-1px -1px 0px 0px #ffedad, 
			0px 0px 2px 4px rgba(20, 20, 20, 0.7), 
			inset 4px 4px 6px 6px #000000;
		span{
			background-color: #ffffff;
			color: transparent;
			text-shadow: -1px -1px 15px #ff3333;
		}
	}
}